@media screen and (max-width: 700px) {
    body, html{
        
    }
    
    header{
        height: 800px;
    }

    .btn-contato{
        display: none;
    }

    .header-container{
        align-items: center;
    }

    .redesSociais{
        flex-direction: column;
        align-items: center;
    }

    .mand-header{
        max-width: 80%;
    }

    .sobre{
        max-width: 100%;
        gap:100px;
    }

    .sobre-textos{
        align-items: center;
    }

    .texto-sobre{
        text-align: center;
    }

    .img-sobre{
        width: 80%;
    }

    .servicos>p{
        width: 80%;
    }

    .iframe{
        width: 80%;
        height: 500px;
    }

    form>h2{
        width: 70%;
        text-align: center;
    }

    .email, .telefone{
        width: 80%;
    }

    .btnEnviar{
        width: 80%;
    }

    footer{
        height: 700px;
        flex-flow: column;
        margin: 0;
    }


}